@charset "utf-8";
@media (min-width:768px) and (max-width:1023px) {
    
    body {
        background: url(../images/body_bg.gif) repeat-x;
    }
    
    /*firstheader 시작*/
    header#firstheader {
        position: relative;
        width: 902px;
        margin: 0 auto;
        z-index: 40;
    }
    
    header#firstheader h1{
        padding: 26px 0 17px;
        height: 62px;
    }
    
    header#firstheader ul.util{
        position: absolute;
        right: 0;
        top: 20px;
    }
    
    header#firstheader ul.until::after{
        content: "";
        display: block;
        clear: both;
    }
    
    header#firstheader ul.util li{
        display: inline;
        padding-left: 20px;
    }
    
    header#firstheader form{
        position: absolute;
        top: 60px;
        right: 0;
        width: 211px;
        text-align: right;
    }
    
    #firstheader form legend{
        display: none;
    }
    
    #firstheader form .tbox{
        width: 178px;
        height: 19px;
        border: 1px solid #ccc;
    }
    
    #gnb{
        position: relative;
        width: 100%;
        height: 70px;
    }
    
    #gnb::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #gnb ul{
        float: left;
    }
    
    #gnb li{  /*li float 해야하므로 gnb안에 있는 li 모두 호출해서 처리*/
        float: left;
        width: 184px;
        height: 39px;
        text-align: center;
        background: #3da7db;
        margin-right: 1px;
        border-radius: 3px;
    }
    
    #gnb li a.mm{ /* 링크 걸려있는 1차메뉴 정리*/
        float: left;
        width: 184px;
        height: 39px;
        text-align: center;
        padding-top: 10px; /*윗 공간 띄우기 위해서*/
        color: #fff
    }
    
    #gnb li a.mm:hover{ /*마우스 올라갔을 때*/
        height: 32px;
        background: #3da7db url(../images/over_icon.gif) no-repeat center bottom; /*배경 이미지의 높이가 32로 지정됨*/ /*한꺼번에 처리했음*/
    }
    
    #gnb li ul{ /*2차 메뉴 정리*/
        position: absolute; 
        left: 40px; /*2차메뉴 위치값*/
        top: 45px; /*2차메뉴 위치값*/
        display: none;
    }
    
    #gnb li.m1 ul{ /*m1 안에 있는 ul 위치 조정*/
        left: 0;
    }
    
    #gnb li.m2 ul{ /*"*/
        left: 230px;
    }
    
    #gnb li.m3 ul{
        left: 405px;
    }
    
    #gnb li.m4 ul{
        left: 640px;
    }
    
    #gnb li ul li{ /*간격 설정*/
        padding: 0 10px;
        width: auto;
        height: auto;
        background: none;
    }
    
    #gnb #allmenu_view{ /*전체메뉴*/
        float: left;
        width: 161px;
        text-align: center;
    }
    
    #gnb #allmenu_view a{ /*전체메뉴의 a태그*/
        display: inline-block; /*크기설정 해야됨, inline으로 유지*/
        width: 100%;
        height: 26px;   /*위 li의 높이값 39를 맞춤*/
        padding-top: 13px; /*위 li의 높이값 39를 맞춤*/
        color: #fff;
        background: #3da7db url(../images/btn_allmenu.gif) no-repeat center top;
    }
    
    #allmenu_box{ /*전체메뉴 박스*/
        position: absolute;
        width: 850px; /*850+30+30 총 910px*/
        left: 40px;
        top: 105px;
        padding: 15px 30px;
        z-index: 40;
        display: none; /*hover클래스 시 나타나게 처리*/
        background: #fff url(../images/allMenu_bg.gif) repeat-x;
        border: 4px solid #369;
    }
    
    #allmenu_box ul{ /*박스 안에 모든 ul 수정*/
        width: 100%;
    }
    
    #allmenu_box ul::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #allmenu_box ul li{ /*ul안에 모든 li*/
        float: left;
        width: 140px;
        padding: 0 30px;
    }
    
    #allmenu_box ul li a{
        font: bold 16px "NGothicEB",Gulim;
        color: #555;
    }
    
    #allmenu_box ul li ul{
        padding-top: 20px;
        width: 100%;
    }
    
    #allmenu_box ul li ul li{
        float: none; /*아래로 떨어져야 하기 때문에 float 해제*/
        width: auto;
        padding: 5px 0;
        border-bottom: 1px dashed #ccc;
    }
    
    #allmenu_box ul li ul li a{
        font: bold 14px "NGothicEB",Gulim;
        color: #aaa;
    }
    
    .all_close{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px;
        background: #369;
        color: white;
    }
    
    .all_close:hover{
        color: #fff;
    }
    /*firstheader 끝*/
    
    /*section 시작*/
    #recomm_book{   /*제일 큰 덩어리부터 처리*/ 
        position: relative;
        width: 902px;
        margin: 0 auto;
        padding-bottom: 10px;
        overflow: hidden;
        z-index: 30; /*index값은 10,100단위로*/
    }
    
    #book_frame{
        position: relative;
        left: 0;
        width: 200%; /*보여지는 영역은 2개가 들어가야 하기 때문에 1003의 2배*/
    }
    
    #book_frame::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #book_frame .bookcon{
        float: left;
        width: 50%; /*200%=2006의 50%*//*1003*/
        padding-top: 30px;
    }
    
    #book_frame .bookcon::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #book_frame .bookcon h2{
        text-align: right;
        padding: 0 50px 0 0; /*예제 이미지 오른쪽에 여백이 있어서..*/
    }
    
    #book_frame .bookcon ul{
        width: 100%;
    }
    
    #book_frame .bookcon ul::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #book_frame .bookcon li.pic{
        float: left; /*책은 왼쪽으로*/
        position: relative;
        width: 273px; /*이미지 크기*/
        top: -50px; /*살짝 위로 올라가야됨*/
        margin-bottom: -50px; /*살짝 위로 올라가야됨*/
        padding-left: 50px;
    }
    
    #book_frame .bookcon li.smr{
        float: right; /*설명은 오른쪽으로*/
        width: 489px;
        padding: 50px 50px 0 0;
    }
    
    #book_frame .bookcon li.detail{
        float: right;
        width: 430px;
        padding: 50px 65px 0 0;
    }
    
    #arrow a{ /*화살표 두개 한번에 포지션을 잡고 안에서 각각 위치 보내주면됨*/
        position: absolute;
        top: 120px;
    }
    
    #arrow a.prev{
        left:0
    }
    
    #arrow a.next{
        right:0
    }
    
    #book_roll{
        position: absolute;
        left: 48%;
        bottom: 0;
    }
    
    #book_roll li{ /*위치는 위에서 두개 한번에 잡고 inline으로 한번에 펼치기*/
        display: inline;
    }
    
    /*content 시작*/
    #content{   
        width: 902px;
        margin: 0 auto;
        border-top: 3px double #ccc;
        padding: 30px 0;
    }
    
    #login_banner{ /*div 로그인배너*/
        width: 201px;
        padding: 0 35px 0 10px;
    }
    
    #login_area{
        
    }
    
    #login_area h2{
        height: 33px;
    }
    
    #login_area .iform{
        position: relative;
        width: 100%;
    }
    
    #login_area .iform fieldset{
        border: 1px solid #ccc;
        padding: 10px 15px;
    }
    
    #login_area .iform .tbox{ /*input의 아이디, 비밀번호 입력란 크기 및 선 수정*/
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 105px;
        height: 22px;
    }
    
    #login_area .iform .p{
        padding: 2px 0 3px;
    }
    
    #login_area .iform .loginbtn{
        position: absolute;
        right: 15px;
        top: 11px;
    }
    
    #login_area .iform .loginbtn a{
        display: block;
        width: 54px;
        height: 33px;
        padding-top: 17px;
        background-color: #09f;
        text-align: center;
        color: white;
        border: 1px solid #069;
        border-radius: 7px;
    }
    
    #login_area .iform ul{
        padding: 10px 0 5px;
    }
    
    #login_area .iform ul::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #login_area .iform .find{
        float: left;
    }
    
    #login_area .iform .join{
        float: right;
    }
    
    #login_area .iform ul li a{
        font: 12px "NGothic",Gulim; color: #999;
    }
    
    #login_area .iform ul li a:hover{
        color: #333;
    }
    
    #banner_area{
        padding-top: 10px;
    }
    
    #banner_area li{
        padding-top: 5px;
        text-align: center;
    }
    
    #newbooks_news{ /*div 뉴북 뉴스*/
        position: absolute;
        top: 500px;
        right: 40px;
        width: 600px;
    }
    
    #newbooks_news .t1{
        position: absolute;
        right: 460px;
        top: 0;
    }
    
    #newbooks_news .t2{
        position: absolute;
        right: 340px;
        top: 0;
    }
    
    #newbooks_news .item1{
        margin-top: 37px;
        border-top: 1px solid #aaa;
    }
    
    #newbooks_news a.rss{
        display: inline-block;
        margin-top: 40px;
    }
    
    #newbook_list1{
    
    }
    
    .booklist{
        font: 13px "NGothic",Gulim;
    }
    
    .booklist::after{
        content: "";
        display: block;
        clear: both;
    }
    
    .booklist h1{
        float: left;
        width: 85px;
        padding: 0,0,0,10px;
    }
    
    .booklist p.subtit{
        float: right;
        width: 500px;
        padding-right: 10px;
        font: 13px "NGothic",Gulim;
        color: #333;
    }
    
    .booklist p.smr{
        float: right;
        width: 500px;
        padding:10px 10px 10px 0;
        line-height: 150%;
        color: #999
    }
    
    .booklist footer{
        float: right;
        width: 500px;
        padding-right: 10px;
    }
    
    .booklist footer strong{
        font: 13px "NGothic",Gulim;
        color: #f60;
    }
    
    #newbooks_news .item2{ /* 클릭하면 화면 넘어감 */
        display: none;
    }
    
    #news_list{
        margin-top: 37px;
        border-top: 1px solid #aaa;
        padding-top: 40px;
    }
    
    #news_list ul{
        padding: 0 10px;
    }
    
    #news_list ul li{
        position: relative;
        width: 100%;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
        font: 13px "NGothic",Gulim;
        color: #999;
    }
    
    #news_list ul li:last-child{
        border-bottom: none;
    }
    
    #news_list ul li a{
        background: url(../images/bul_icon.gif) no-repeat 0 50%;
        padding-left: 10px;
        color: #999
    }
    
    #news_list ul li a:hover{
        color: #069;
    }
    
    #news_list ul li span{
        position: absolute;
        right: 10px;
    }

    /*이달의 저자*/
    #down_autor{ 
        position: relative;
        width: 902px;
        height: 200px;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 3px double #aaa;
    }

    #down_autor p a{
        position: absolute;
        padding-top: 20px;
        top: 10px;
        left: 10px;
    }

    #autor_column{
        position: absolute;
        right: 50px;
        width: 550px;
    }

    #autor_column h2{
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 10px 10px 10px;
    }

    #autor_column ul li video{
        position: absolute;
        left: 0;
        top: 30px;
    }
    #autor_column ul li a{
        position: absolute;
        left: 270px;
        top: 60px;
        width: 248px;
        font: 12px "NGothic",Gulim;
        color: #999;
    }
    
    #autor_column .nscreen{
        display: block;
        width: 248px;
    }
    
    #autor_column .nscreen span{
        display: inline-block;  /*block으로 수직구조*/
        width: 248px;
        padding-top: 10px;
        color: #333;
        font-family: "NGothic";
    }
    
    /*footer*/
    footer#realfooter{
        background: url("../images/foot_bg.gif") repeat-x;
    }
    
    footer#realfooter .foot{
        width: 902px;
        margin: 0 auto;
        padding: 20px 0;
    }
    
    footer#realfooter .foot::after{
        content: "";
        display: block;
        clear: both;
    }
    
    footer#realfooter .foot div{  /*position을 이용해서 위치를 잡아도 되지만(위치값 다 지정), float로 펼치는 방법을 사용*/
        float: left;              /*absolute값은 좌표가 정확한지 확인불가, float 사용 권장,,*/
        width: 500px;
        color: #999;
    }
    
    footer#realfooter .foot p{
        font: 12px "NGothic",Gulim;
    }
    
    footer#realfooter .foot .copy{
        display: block;
        padding-top: 10px;
    }
    
    footer#realfooter .foot ul{
        float: right;
    }
    
    footer#realfooter .foot ul li{
        display: inline; /*두개밖에 없으니까 inline으로 펼치기*/
        padding: 0 5px;
    }
} /*태블릿 반응형*/



@media (max-width:767px) {
body {

}

header#firstheader{
    position: relative;
    width: 95%;
    margin: 0 auto;
    z-index: 40;
}

header#firstheader h1{
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


header#firstheader ul.util{
    display: none;
}


header#firstheader form{
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

#firstheader form legend{
    display: none;
}

#firstheader form .tbox{
    width: 90%;
    height: 20px;
    border: 1px solid #ccc;
}

#firstheader form .sbtn{
    width: 9%;
    height: 20px;
}

#firstheader form #sbtn{
    float: right;
}

#gnb{
    margin: 0 auto;
    width: 100%;
    height: 70px;
    margin-top: 10px;
}

#gnb::after{
    content: "";
    display: block;
    clear: both;
}

#gnb li{
    float: left;
    width: 50%;
    height: 40px;
    text-align: left;
    background: #ccc;
    border-top: 2px solid #3da7db;
    border-bottom: 2px solid #3da7db;
    border-right: 1px solid black;
    box-sizing: border-box;
}

#gnb li a.mm{ /* 링크 걸려있는 1차메뉴 정리*/
    float: left;
    width: 205px;
    height: 39px;
    text-align: left;
    padding-top: 10px; /*윗 공간 띄우기 위해서*/
    padding-left: 10px;
    color: #333
}

#gnb li ul{ /*2차 메뉴 정리*/
    position: absolute; 
    left: 40px; /*2차메뉴 위치값*/
    top: 45px; /*2차메뉴 위치값*/
    display: none;
}

#gnb li ul li{ /*간격 설정*/
    padding: 0 10px;
    width: auto;
    height: auto;
    background: none;
}

#allmenu_view{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}

#allmenu_box{
    display: none;
}

#gnb #allmenu_view a{ /*전체메뉴의 a태그*/
    display: inline-block; /*크기설정 해야됨, inline으로 유지*/
    width: 100%;
    height: 27px;
    padding-top: 13px;
    color: #fff;
    background: url(../images/btn_allmenu.png) no-repeat center top;
}

#recomm_book{   /*제일 큰 덩어리부터 처리*/ 
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 5px;
    overflow: hidden;
    z-index: 30; /*index값은 10,100단위로*/
    border-bottom: 5px double #eee;
}

#book_frame{
    position: relative;
    left: 0;
    width: 200%; /*보여지는 영역은 2개가 들어가야 하기 때문에 1003의 2배*/
}

#book_frame:after{
    content: "";
    display: block;
    clear: both;
}

#book_frame .bookcon{
    float: left;
    width: 50%; /*200%=2006의 50%*//*1003*/
}

#book_frame .bookcon::after{
    content: "";
    display: block;
    clear: both;
}

#book_frame .bookcon h2{
    text-align: right;
    padding: 2% 9% 0 0;
}

#book_frame .bookcon h2 img{
    width: 51%;
}

#book_frame .bookcon ul{
    width: 100%;
}

#book_frame .bookcon ul::after{
    content: "";
    display: block;
    clear: both;
}

#book_frame .bookcon li.pic{
    float: left; /*책은 왼쪽으로*/
    position: relative;
    width: 27.2%; /*이미지 크기*/
    top: -45px; /*살짝 위로 올라가야됨*/
    margin-bottom: -45px; /*살짝 위로 올라가야됨*/
    padding-left: 6.48%;
}

#book_frame .bookcon li.smr{
    float: right; /*설명은 오른쪽으로*/
    width: 48.75%;
    padding: 3% 6.3% 0;
}

#book_frame .bookcon li.detail{
    float: right;
    width: 44.76%;
    padding: 5% 6% 0;
}

#book_frame .bookcon li.detail img{
    width: 60%; /*브라우저 크기에 따라 크기 조정이 될 수 있도록 설정*/
}

#arrow a{ /*화살표 두개 한번에 포지션을 잡고 안에서 각각 위치 보내주면됨*/
    position: absolute;
    top: 38%;
}

#arrow a.prev{
    left:0
}

#arrow a.next{
    right:0
}

#book_roll{
    position: relative;
    padding-top: 20px;
    left: 48%;
    bottom: 0;
}

#book_roll li{ /*위치는 위에서 두개 한번에 잡고 inline으로 한번에 펼치기*/
    display: inline;
}

#login_banner{
    display: none;
}

#newbooks_news{ /*div 뉴북 뉴스*/
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    width: 95%;
    border-top: 1px solid white;
}

#newbooks_news .t1{
    position: absolute;
    left: 10px;
    top: 0;
}

#newbooks_news .t2{
    position: absolute;
    left: 130px;
    top: 0;
}

#newbooks_news .item1{
    margin-top: 37px;
    border-top: 1px solid #aaa;
}

#newbooks_news a.rss{
    display: inline-block;
    margin-top: 30px;
}


.booklist{
    position: relative;
    min-height: 111px; /*111px보다 작아지지 않도록*/
    font: 13px "NGothic",Gulim;
}

.booklist::after{
    content: "";
    display: block;
    clear: both;
}

.booklist h1{
    position: absolute;
    left: 10px;
    padding: 0;
    width: 111px;
}

.booklist h1 img{
    width: 100%;
    max-width: 83px;
}

.booklist p.subtit{
    width: 77%;
    margin-left: 111px; /*이미지 뒤에 있던 글자를 옆으로 */
    padding-right: 10px;
    font: 13px "NGothicEB",Gulim;
    color: #333;
}

.booklist p.smr{
    width: 77%;
    margin-left: 111px;
    padding: 10px 10px 10px 0;
    line-height: 150%;
    font: 11px "NGothicEB",Gulim;
}

.booklist footer{
    width: 77%;
    margin-left: 111px;
    padding-right: 10px;
    font: 11px "NGothicEB",Gulim;
}

.booklist footer strong{
    font: 11px "NGothic",Gulim;
    color: #f60;
}

#newbooks_news .item2{ /* 클릭하면 화면 넘어감 */
    display: none;
}

#news_list{
    margin-top: 37px;
    border-top: 1px solid #aaa;
    padding-top: 20px;
}

#news_list ul{
    padding: 0 10px;
}

#news_list ul li{
    position: relative;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    font: 13px "NGothic",Gulim;
    color: #999;
}

#news_list ul li:last-child{
    border-bottom: none;
}

#news_list ul li a{
    background: url(../images/bul_icon.gif) no-repeat 0 50%;
    padding-left: 10px;
    color: #999
}

#news_list ul li a:hover{
    color: #069;
}

#news_list ul li span{
    position: absolute;
    right: 10px;
}

#down_autor{
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

#down_autor p a img{
    display: none;
}

#autor_column{
    width: 95%;
}

#autor_column h2{
    padding: 20px 0 10px;
}

#autor_column ul li video{
    position: relative;
    width: 70%;
    height: 70%;
    margin-left: 75px;
    border: 1px solid black;
}

#autor_column ul li a{
    font: 12px "NGothic",Gulim;
    color: #999;
}

#autor_column .nscreen{
    width: 95%;
    padding: 5px 0 0 15px;
    line-height: 150%;
}

#autor_column .nscreen span{
    display: block;  /*block으로 수직구조*/
    color: #333;
    font-family: "NGothic";
    padding: 5px 0;
}

footer#realfooter{
    background: url("../images/foot_bg.gif") repeat-x;
}

footer#realfooter .foot{
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

footer#realfooter .foot::after{
    content: "";
    display: block;
    clear: both;
}

footer#realfooter .foot div{  /*position을 이용해서 위치를 잡아도 되지만(위치값 다 지정), float로 펼치는 방법을 사용*/
    width: 350px;
    color: #999;
}

footer#realfooter .foot p{
    font: 12px "NGothic",Gulim;
}

footer#realfooter .foot .copy{
    display: block; /*수직구조*/
}

footer#realfooter .foot ul{
    position: relative;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
    bottom: 0;
}

footer#realfooter .foot ul li{
    display: inline; /*두개밖에 없으니까 inline으로 펼치기*/
    width: 95%;
}
}